.loginContainer {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.logindiv {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userinput {
  width: 17.5rem;
  height: 3rem;
}
.login_heading {
  display: flex;
  justify-content: center;
  align-content: center;
}
.loginbtn {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  /* padding: 17.5rem; */
}
.loginbtn > button {
  padding: 0.5rem;
  width: 17.5rem;
  height: 3rem;
}
